.wrapper {
  height: 10px;
  flex-shrink: 0;
  background: #0a0a0a;
}

.track {
  height: 10px;
  background: transparent;
  width: 100%;
}

.fill {
  height: 10px;
  background: #F5D020;
  transition: width 1s linear;
}
